<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta name="author" content="Paula Farias">

    <title></title>
    <meta name="description"
        content=""
        data-el-id="description">
    <meta name="keywords" content="" data-el-id="keywords">

    <!-- og meta data-->
    <meta
        content=""
        property="og:title" data-el-id="og:title">
    <meta content="website" property="og:type" data-el-id="og:type">
    <meta content="" property="og:url" data-el-id="og:url">
    <meta content="" data-el-id="og:site_name">
    <meta
        content=""
        property="og:description" data-el-id="og:description">
    <meta content="style/img/logo.png" property="og:image" data-el-id="og:image">

    <!-- Favicons -->
    <link href="style/img/logo.png" rel="icon">
    <link href="style/img/logo.png" rel="apple-touch-icon">
    <meta name="theme-color" content="#712cf9">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="style/vendors/bootstrap@5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="style/vendors/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="style/main.css" rel="stylesheet">
</head>